@charset "UTF-8";
body  {
  color: #000; }

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility; }

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 900; }

h1 {
  font-size: 4em;
  letter-spacing: 10px; }
  @media (max-width: 580px) {
    h1 {
      font-size: 2.8em;
      letter-spacing: 6px; } }

h2 {
  font-size: 3em;
  letter-spacing: 6px; }
  @media (max-width: 580px) {
    h2 {
      font-size: 2.6em;
      letter-spacing: 3px; } }

h3 {
  font-size: 2.5em;
  letter-spacing: 5px; }

h4 {
  font-size: 1.65em;
  letter-spacing: 3px;
  text-transform: uppercase; }

p {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.61; }

a {
  color: black;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  a:hover, a:focus, a:visited, a:active {
    color: black; }

.bold {
  font-weight: 700; }

.green {
  color: #50a8ac; }
  .green:hover, .green:focus, .green:visited, .green:active {
    color: #50a8ac; }

.message {
  font-size: 0.8em;
  padding: 5px 0 0 0;
  color: #ac4646;
  width: 400px; }
  @media (max-width: 768px) {
    .message {
      width: auto; } }

.header-content {
  text-transform: uppercase; }
  .header-content .header-title.header-title {
    font-size: 9em;
    font-weight: 900;
    color: #000; }
  .header-content .header-credits.header-credits {
    font-weight: 700;
    color: #000; }
    @media (min-width: 992px) {
      .header-content .header-credits.header-credits {
        font-size: 2em; } }

.section-headline {
  padding: 50px 0 0 0; }

.section-headline-divider, .section-headline-divider-left {
  margin: 40px auto;
  background-color: #50a8ac;
  height: 10px;
  width: 80px;
  border: none; }

.section-headline-divider-left {
  margin-left: 0; }
  @media (max-width: 992px) {
    .section-headline-divider-left {
      margin-left: auto; } }

.logo {
  position: fixed;
  z-index: 2;
  top: 25px;
  right: 25px;
  width: 80px;
  height: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  transition: ease-in 0s; }
  @media (max-width: 580px) {
    .logo {
      width: 70px;
      height: 35px;
      top: 15px;
      right: 10px; } }

.logo-white {
  position: fixed;
  z-index: 2;
  top: 25px;
  right: 25px;
  width: 80px;
  height: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/logo-white.svg);
  background-repeat: no-repeat;
  transition: ease-in 0s; }
  @media (max-width: 580px) {
    .logo-white {
      width: 70px;
      height: 35px;
      top: 15px;
      right: 10px; } }

.desktop-navigation .main-nav {
  width: 50px;
  height: auto;
  position: fixed;
  top: 2vh;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.24em; }
  @media (max-width: 580px) {
    .desktop-navigation .main-nav {
      padding: 1.24em 0 0 0.5em; } }
.desktop-navigation .main-nav-container {
  width: 100%;
  text-transform: uppercase;
  z-index: 1000;
  align-self: flex-start; }
  .desktop-navigation .main-nav-container ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .desktop-navigation .main-nav-container ul li {
      padding-top: 5px; }
.desktop-navigation .main-nav-link {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-align: right;
  align-self: end;
  justify-self: end;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  letter-spacing: 3px;
  font-size: 17px;
  padding: 5px 0px; }
  .desktop-navigation .main-nav-link:hover, .desktop-navigation .main-nav-link:active, .desktop-navigation .main-nav-link:focus {
    color: white;
    background: #50a8ac;
    text-decoration: none; }
  @media (max-width: 580px) {
    .desktop-navigation .main-nav-link {
      font-size: 13px; } }
.desktop-navigation .showroom-nav {
  width: 50px;
  height: auto;
  position: fixed;
  bottom: 2vh;
  right: 0;
  z-index: 3;
  padding: 1.24em; }
  @media (max-width: 580px) {
    .desktop-navigation .showroom-nav {
      padding: 0 0 0 2em; } }
.desktop-navigation .showroom-nav-container {
  width: 100%;
  text-transform: uppercase;
  z-index: 1000;
  position: relative; }
.desktop-navigation .showroom-nav-link {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-align: right;
  align-self: end;
  justify-self: end;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  letter-spacing: 3px;
  font-size: 17px;
  padding-top: 50px;
  padding-bottom: 5px; }
  .desktop-navigation .showroom-nav-link:hover, .desktop-navigation .showroom-nav-link:active, .desktop-navigation .showroom-nav-link:focus {
    color: white;
    background: #50a8ac;
    text-decoration: none; }
  @media (max-width: 580px) {
    .desktop-navigation .showroom-nav-link {
      font-size: 13px; } }
.desktop-navigation .showroom-nav-link:before {
  content: "";
  background: url(../img/landingpage/line.svg) no-repeat;
  width: 35px;
  height: 2px;
  line-height: 21px;
  float: left;
  margin-left: -5px;
  position: absolute;
  top: 15px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .desktop-navigation .showroom-nav-link:before {
      top: -15px; } }
  @media (max-width: 580px) {
    .desktop-navigation .showroom-nav-link:before {
      margin-left: -9px; } }
.desktop-navigation .showroom-nav-link:hover::before, .desktop-navigation .showroom-nav-link:active::before, .desktop-navigation .showroom-nav-link:focus::before {
  background: url(../img/landingpage/line-white.svg) no-repeat; }

header, header .header-content {
  position: relative;
  width: 100%;
  text-align: center; }

header {
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  color: #fff;
  /*
  	@media (min-width: 768px) and (max-width: 992px) {
  		min-height:100%;
  		height: 100vh;	
  	}
  */ }
  @media (min-width: 230px) and (max-width: 767px) {
    header {
      min-height: 100%;
      height: 100vh; } }

.landingpage-header {
  min-height: 100%;
  height: 100%;
  height: 100vh; }

header .header-content {
  padding: 100px 15px; }
  @media (min-width: 768px) {
    header .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px; } }
  header .header-content .header-content-inner {
    width: 820px;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 992px) {
      header .header-content .header-content-inner {
        width: 648px; } }
    @media (max-width: 768px) {
      header .header-content .header-content-inner {
        width: 472px; } }
    @media (max-width: 580px) {
      header .header-content .header-content-inner {
        width: 424px; } }
    @media (max-width: 480px) {
      header .header-content .header-content-inner {
        width: 300px; } }
    header .header-content .header-content-inner .header-title {
      margin-top: 0;
      font-size: 8em; }
      @media (min-width: 768px) and (max-width: 992px) {
        header .header-content .header-content-inner .header-title {
          font-size: 6em; } }
    header .header-content .header-content-inner p {
      float: right; }
  @media (max-width: 768px) {
    header .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 20px; }
      header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto; }
        header .header-content .header-content-inner .header-title {
          font-size: 4em;
          margin-bottom: 5px; } }
  @media (max-width: 480px) {
    header .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 15px;
      width: calc 100% -30px; }
      header .header-content .header-content-inner {
        margin-left: auto;
        margin-right: auto; }
        header .header-content .header-content-inner .header-title {
          font-size: 2.58em;
          margin-bottom: 0; }
        header .header-content .header-content-inner p {
          font-size: 1.15em;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto; } }

.section-green {
  background-color: #50a8ac;
  color: #fff;
  padding-bottom: 50px; }
  .section-green .section-headline-divider {
    background-color: #fff; }
  .section-green .section-headline-divider-left {
    background-color: #fff; }

.lp-section-flex-container {
  height: auto;
  padding: 50px 15px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  flex-direction: row; }
  @media (max-width: 992px) {
    .lp-section-flex-container {
      flex-direction: column;
      -webkit-flex-direction: column; } }

.lp-img-box, .lp-text-box {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

@media (max-width: 992px) {
  .lp-text-box {
    text-align: center; } }
@media (max-width: 480px) {
  .lp-text-box {
    padding: 0 30px; } }

.lp-img-box-content, .lp-text-box-content {
  max-width: 420px;
  margin: 0 auto; }

.reorder-1 {
  -webkit-box-ordinal-group: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 1;
  /* OLD - Firefox 19- */
  -ms-flex-order: 1;
  /* TWEENER - IE 10 */
  -webkit-order: 1;
  /* NEW - Chrome */
  order: 1; }
  @media (max-width: 992px) {
    .reorder-1 {
      -webkit-box-ordinal-group: 2;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-ordinal-group: 2;
      /* OLD - Firefox 19- */
      -ms-flex-order: 2;
      /* TWEENER - IE 10 */
      -webkit-order: 2;
      /* NEW - Chrome */
      order: 2; } }

.reorder-2 {
  -webkit-box-ordinal-group: 2;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 2;
  /* OLD - Firefox 19- */
  -ms-flex-order: 2;
  /* TWEENER - IE 10 */
  -webkit-order: 2;
  /* NEW - Chrome */
  order: 2; }
  @media (max-width: 992px) {
    .reorder-2 {
      -webkit-box-ordinal-group: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-ordinal-group: 1;
      /* OLD - Firefox 19- */
      -ms-flex-order: 1;
      /* TWEENER - IE 10 */
      -webkit-order: 1;
      /* NEW - Chrome */
      order: 1; } }

.lp-section-flex-container-large {
  height: 100vh;
  min-height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 992px) {
    .lp-section-flex-container-large {
      flex-direction: column;
      -webkit-flex-direction: column;
      width: 100%;
      height: auto; } }

.lp-text-box-large, .lp-img-box-large {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.lp-text-box-large {
  margin: auto;
  align-self: center; }
  @media (max-width: 992px) {
    .lp-text-box-large {
      text-align: center;
      padding: 100px 30px; } }
  .lp-text-box-large .lp-text-box-large-content {
    padding: 0 60px; }
    @media (max-width: 992px) {
      .lp-text-box-large .lp-text-box-large-content {
        padding: 0;
        max-width: 90%;
        margin: 0 auto; } }

.lp-img-box-large {
  z-index: -1; }
  @media (max-width: 992px) {
    .lp-img-box-large {
      min-height: 80vh;
      width: 100%; } }

.mission-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/landingpage/unsere-mission.jpg);
  background-repeat: no-repeat;
  color: #fff; }

.mission-headline {
  margin-left: -110px;
  margin-bottom: 0;
  z-index: 1000002; }
  @media (max-width: 992px) {
    .mission-headline {
      margin-left: auto;
      text-align: center;
      padding: 0 5px; } }

.lp-text-box-large-content p {
  max-width: 480px; }
  @media (max-width: 992px) {
    .lp-text-box-large-content p {
      max-width: 100%;
      margin: 0 auto; } }

.showroom-container .lp-text-box-large-content {
  max-width: 480px;
  margin: 0 auto;
  margin-right: 55px;
  padding-right: 0; }
  @media (max-width: 992px) {
    .showroom-container .lp-text-box-large-content {
      max-width: 90%;
      padding: 0;
      margin: 0 auto; } }

.showroom-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/landingpage/showroom.jpg);
  background-repeat: no-repeat;
  color: #fff; }

.termin-link {
  margin-top: 40px;
  box-sizing: border-box; }
  @media (max-width: 992px) {
    .termin-link {
      text-align: center; } }

.termin-link:before {
  content: "";
  background: url("../img/landingpage/line.svg") no-repeat;
  width: 35px;
  height: 2px;
  margin: 8px 20px 8px auto;
  line-height: 21px;
  float: left;
  display: block; }
  @media (max-width: 992px) {
    .termin-link:before {
      display: inline-block;
      width: 35px;
      position: absolute;
      margin-left: -55px;
      display: none; } }

.brand-headline {
  margin: 75px 0; }

a.brand-link {
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1); }
  @media (max-width: 768px) {
    a.brand-link {
      width: 100%; } }
  a.brand-link:hover .brand {
    background-color: #50a8ac; }
    a.brand-link:hover .brand img {
      -moz-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      -webkit-transform: rotate(2deg); }
    a.brand-link:hover .brand h2 {
      color: black; }

.brand {
  border: 1px solid #000;
  padding: 0 20px 40px 20px;
  margin: 40px 0; }
  .brand h2 {
    margin-top: -12px;
    margin-bottom: 20px;
    padding-left: 10px;
    position: absolute;
    bottom: 42px;
    left: 30px; }
  .brand h3 {
    margin: -12px 0 20px 0;
    padding-left: 10px; }

.brand-content {
  margin-top: -40px; }

.img-full {
  width: 100%;
  height: auto; }

.subpage-header a {
  color: #50a8ac; }
@media (max-width: 992px) {
  .subpage-header .lp-img-box-large {
    height: 100vh; } }

@media (max-width: 992px) {
  .equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.brand-essentials {
  margin: 100px auto;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media (max-width: 768px) {
    .brand-essentials {
      margin: 0 auto 50px auto; } }
  .brand-essentials .brand-logo {
    padding: 0 50px 50px 0;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    /* Safari 7.0+ */ }
    @media (max-width: 992px) {
      .brand-essentials .brand-logo {
        padding: 0 0 50px 0;
        width: 100%; } }
    .brand-essentials .brand-logo img {
      float: right; }
      @media (max-width: 992px) {
        .brand-essentials .brand-logo img {
          float: none;
          margin: 0 auto;
          display: block; } }
  .brand-essentials .brand-img {
    padding: 0;
    margin: 0 auto;
    width: 100%; }
    .brand-essentials .brand-img img {
      float: right; }
      @media (min-width: 768px) and (max-width: 992px) {
        .brand-essentials .brand-img img {
          min-width: 484px;
          margin: 0 auto;
          float: none; } }
      @media (max-width: 992px) {
        .brand-essentials .brand-img img {
          float: none;
          margin: 0 auto; } }

.brand-essentials-reverse {
  margin: 100px auto;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media (max-width: 768px) {
    .brand-essentials-reverse {
      margin: 0 auto 50px auto; } }
  .brand-essentials-reverse .brand-logo-reverse {
    padding: 0 0 50px 75px;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    /* Safari 7.0+ */
    order: 2; }
    @media (max-width: 992px) {
      .brand-essentials-reverse .brand-logo-reverse {
        padding: 0 0 50px 0;
        width: 100%;
        order: 1; } }
    .brand-essentials-reverse .brand-logo-reverse img {
      float: left; }
      @media (max-width: 992px) {
        .brand-essentials-reverse .brand-logo-reverse img {
          float: none;
          margin: 0 auto;
          display: block; } }
  .brand-essentials-reverse .brand-img-reverse {
    padding: 0;
    margin: 0 auto;
    width: 50%;
    order: 1; }
    @media (max-width: 992px) {
      .brand-essentials-reverse .brand-img-reverse {
        order: 2;
        width: 100%; } }
    .brand-essentials-reverse .brand-img-reverse img {
      float: left; }
      @media (min-width: 768px) and (max-width: 992px) {
        .brand-essentials-reverse .brand-img-reverse img {
          min-width: 484px;
          margin: 0 auto;
          float: none; } }
      @media (max-width: 992px) {
        .brand-essentials-reverse .brand-img-reverse img {
          float: none;
          margin: 0 auto; } }

.barand-teaser {
  padding: 0;
  margin-bottom: 100px; }
  @media (max-width: 768px) {
    .barand-teaser {
      margin-bottom: 50px; } }

.barand-teaser-reverse {
  padding: 0;
  margin-bottom: 100px;
  position: relative; }
  .barand-teaser-reverse img {
    float: right; }
  @media (max-width: 992px) {
    .barand-teaser-reverse {
      float: none;
      margin: 0 auto 50px auto; } }

.lookbook {
  margin-bottom: 100px; }
  .lookbook a {
    font-size: 1.5em; }
  .lookbook img {
    margin: 0 auto; }
  .lookbook .lookbook-form {
    padding: 50px 0 0 0; }
    @media (min-width: 1200px) {
      .lookbook .lookbook-form {
        padding: 50px 0 0 30px; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .lookbook .lookbook-form {
        padding: 50px 0 0 30px; } }
    @media (max-width: 768px) {
      .lookbook .lookbook-form {
        padding: 50px 0;
        text-align: center; } }
    .lookbook .lookbook-form .input-group {
      margin-top: 30px;
      width: 300px; }
      @media (max-width: 768px) {
        .lookbook .lookbook-form .input-group {
          margin: 30px auto 0 auto;
          width: auto;
          max-width: 300px; } }
    .lookbook .lookbook-form input {
      border: none;
      border-bottom: 1px solid black;
      border-radius: 0;
      box-shadow: none;
      background-color: #fff;
      background: transparent;
      font-size: 1.5em; }
      .lookbook .lookbook-form input:active, .lookbook .lookbook-form input:focus, .lookbook .lookbook-form input:visited, .lookbook .lookbook-form input:hover {
        background-color: #fff; }
    .lookbook .lookbook-form input:-webkit-autofill,
    .lookbook .lookbook-form input:-webkit-autofill:hover,
    .lookbook .lookbook-form input:-webkit-autofill:focus,
    .lookbook .lookbook-form input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset; }
    .lookbook .lookbook-form .input-group-btn:last-child > .btn {
      z-index: 4;
      margin-left: -1px;
      background-color: transparent;
      border-radius: 0;
      width: auto;
      border: 0;
      border-bottom: 1px solid black;
      margin-bottom: -1px; }
      .lookbook .lookbook-form .input-group-btn:last-child > .btn .submit-arrow:before {
        content: "⟶";
        color: #000; }
        @media screen and (min-device-width: 240px) and (max-device-width: 736px) {
          .lookbook .lookbook-form .input-group-btn:last-child > .btn .submit-arrow:before {
            content: "→"; } }

#lookbook-form-reverse {
  padding: 50px 0 0 105px; }
  @media (min-width: 768px) and (max-width: 992px) {
    #lookbook-form-reverse {
      padding: 50px 0 0 35px; } }
  @media (max-width: 768px) {
    #lookbook-form-reverse {
      padding: 50px 0;
      text-align: center; } }

.lookbook-img-reverse img {
  margin: 0 0 0 55px; }
  @media (max-width: 992px) {
    .lookbook-img-reverse img {
      margin: 0 auto; } }

.de-le-cuona-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/de-le-cuona/de-le-cuona-header.jpg);
  background-repeat: no-repeat; }

.flexform-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/flexform/flexform-header.jpg);
  background-repeat: no-repeat; }

.gt-design-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/gt-design/gt-design-header.jpg);
  background-repeat: no-repeat; }

.jars-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/jars/jars-header.jpg);
  background-repeat: no-repeat; }

.moab80-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/moab80/moab80-header.jpg);
  background-repeat: no-repeat; }

.rex-kralj-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/rex-kralj/rex-kralj-header.png);
  background-repeat: no-repeat; }

.rina-menardi-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/rina-menardi/rina-menardi-header.jpg);
  background-repeat: no-repeat; }

.roda-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/roda/roda-header.jpg);
  background-repeat: no-repeat; }

.society-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/society/society-header.jpg);
  background-repeat: no-repeat; }

.tuuci-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/tuuci/tuuci-header.jpg);
  background-repeat: no-repeat; }

.davide-groppi-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/brands/davide-groppi/davide-groppi-header.jpg);
  background-repeat: no-repeat; }

.copyright {
  height: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 6px 2px;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 16px; }

#kontakt a {
  color: #50a8ac; }

.map-container {
  width: 500px;
  height: 460px;
  position: relative;
  margin-right: 25px;
  padding: 40px 0 0 40px; }
  @media (max-width: 992px) {
    .map-container {
      margin-bottom: 30px; } }
  @media (max-width: 768px) {
    .map-container {
      width: 100%;
      margin: 0 0 30px 0;
      padding: 0;
      height: auto; } }
  .map-container .map-frame {
    width: 500px;
    height: 420px;
    background-color: #50a8ac;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 768px) {
      .map-container .map-frame {
        display: none; } }
  .map-container .map {
    position: absolute;
    left: 40px;
    height: 420px;
    width: 500px; }
    @media (max-width: 768px) {
      .map-container .map {
        width: 100%;
        position: relative;
        margin-left: -40px;
        height: auto; } }

#map {
  height: 420px;
  width: 100%; }

.footer-top {
  border-top: 2px solid black;
  padding: 30px 0 30px 0;
  display: block; }
  @media (max-width: 768px) {
    .footer-top {
      text-align: center; } }
  .footer-top p {
    margin-bottom: 0; }
  .footer-top .footer-logo {
    width: 119px;
    height: 78px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    background-image: url(../img/landingpage/logo-footer.png);
    background-repeat: no-repeat; }
    @media (max-width: 768px) {
      .footer-top .footer-logo {
        margin: 0 auto;
        margin-bottom: 30px; } }
  .footer-top div:nth-child(2) a {
    display: inline-block; }
    .footer-top div:nth-child(2) a:hover {
      color: #50a8ac; }
    .footer-top div:nth-child(2) a:hover, .footer-top div:nth-child(2) a:active, .footer-top div:nth-child(2) a:focus, .footer-top div:nth-child(2) a:visited {
      text-decoration: none; }
  .footer-top div:nth-child(3) {
    margin-left: 50px;
    margin-right: -50px; }
    .footer-top div:nth-child(3) a {
      display: inline-block; }
      .footer-top div:nth-child(3) a:hover {
        color: #50a8ac; }
      .footer-top div:nth-child(3) a:hover, .footer-top div:nth-child(3) a:active, .footer-top div:nth-child(3) a:focus, .footer-top div:nth-child(3) a:visited {
        text-decoration: none; }
    @media (max-width: 768px) {
      .footer-top div:nth-child(3) {
        margin: 10px 0 10px 0; } }
  .footer-top .footer-brand-nav {
    list-style: none;
    text-align: right;
    padding: 0; }
    .footer-top .footer-brand-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    @media (max-width: 768px) {
      .footer-top .footer-brand-nav {
        text-align: center;
        padding: 10px 0; } }
    .footer-top .footer-brand-nav a {
      font-weight: 400;
      font-size: 1.5em;
      line-height: 1.61;
      color: black;
      display: inline-block; }

.footer-bottom {
  padding: 0;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .footer-bottom {
      text-align: center; } }
  .footer-bottom .copyright-block {
    text-align: right; }
    .footer-bottom .copyright-block .goldkinder-logo {
      width: 154px;
      height: 9px;
      display: inline-block;
      margin-left: 10px;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
      -o-background-size: contain;
      background-position: center center;
      background-image: url(../img/landingpage/goldkinder-logo.png);
      background-repeat: no-repeat; }
    @media (max-width: 768px) {
      .footer-bottom .copyright-block {
        text-align: center; } }
  .footer-bottom ul {
    padding: 0; }
    .footer-bottom ul li {
      padding-right: 0; }
    .footer-bottom ul li a {
      font-size: 17px;
      cursor: pointer; }

#legal .legal-text {
  padding: 300px 70px 50px 70px; }
  #legal .legal-text p {
    width: auto; }
    @media (min-width: 1200px) {
      #legal .legal-text p {
        width: 500px; } }
  @media (max-width: 992px) {
    #legal .legal-text {
      padding: 50px 30px;
      text-align: center; }
      #legal .legal-text p {
        width: auto; } }
  #legal .legal-text h4 {
    font-size: 2.4em; }
    @media (max-width: 580px) {
      #legal .legal-text h4 {
        font-size: 2em; } }
  #legal .legal-text a {
    color: #50a8ac; }
  #legal .legal-text .legal-headline {
    margin-top: 40px; }

.impressum-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/impressum/impressum.png);
  background-repeat: no-repeat;
  height: 100vh; }

.datenschtz-img {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  background-image: url(../img/datenschutz/datenschutz.jpg);
  background-repeat: no-repeat;
  height: 100vh; }

#cookie-bar {
  background: rgba(80, 168, 172, 0.85);
  height: auto;
  line-height: 22px;
  color: #eeeeee;
  text-align: center;
  padding: 3px 0;
  font-family: Arial,sans-serif;
  height: 80px; }

#cookie-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

#cookie-bar.fixed.bottom {
  bottom: 0;
  top: auto; }

#cookie-bar p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top: 22px; }

#cookie-bar a {
  color: #ffffff;
  display: inline-block;
  border-radius: 0px;
  text-decoration: none;
  padding: 0px 6px;
  margin: 3px 0 4px 0;
  margin-left: 8px; }

#cookie-bar .cb-enable {
  background: #007700;
  background: #4c1881;
  padding: 0.05em 0.4em;
  background: #9c9b9b; }

#cookie-bar .cb-enable:hover {
  background: #009900;
  background: #919191; }

#cookie-bar .cb-disable {
  background: #990000; }

#cookie-bar .cb-disable:hover {
  background: #bb0000; }

#cookie-bar .cb-policy {
  background: #fff;
  color: #606f81;
  padding: 0.05em 0.5em 0.05em 0.6em;
  min-width: 124px; }

#cookie-bar .cb-policy:hover {
  background: #e1e1e1; }

#cookie-btns {
  line-height: 24px;
  border: none; }

@media only screen and (max-width: 838px) {
  #cookie-btns {
    display: block;
    width: 100%; }

  #cookie-bar p {
    margin-top: 16px; } }
@media only screen and (max-width: 640px) {
  #cookie-bar p {
    width: 376px;
    margin: 0 auto; }

  #cookie-bar p {
    line-height: 18px; }

  #cookie-btns {
    line-height: 24px; }

  #cookie-bar p {
    margin-top: 4px; } }
@media only screen and (max-width: 401px) {
  #cookie-bar {
    height: 98px; }

  #cookie-bar p {
    width: 245px;
    margin: 0 auto; }

  #cookie-bar p {
    margin-top: 4px; }

  #cookie-btns {
    margin-top: 2px; } }
@media screen and (max-width: 992px) and (-ms-high-contrast: active), (max-width: 992px) and (-ms-high-contrast: none) {
  .lp-section-flex-container {
    display: table;
    height: auto;
    width: 100%; }
    .lp-section-flex-container img {
      width: 100%;
      max-width: 100%; }
    .lp-section-flex-container .reorder-1 {
      display: table-footer-group; }
    .lp-section-flex-container .reorder-2 {
      display: table-header-group; } }

@media screen and (max-width: 992px) and (-ms-high-contrast: active), (max-width: 992px) and (-ms-high-contrast: none) {
  .lp-section-flex-container-large {
    display: table;
    width: 100%; } }

@media screen and (max-width: 992px) and (-ms-high-contrast: active), (max-width: 992px) and (-ms-high-contrast: none) {
  #ie-reorder {
    display: table;
    width: 100%; } }

@media screen and (max-width: 992px) and (-ms-high-contrast: active), (max-width: 992px) and (-ms-high-contrast: none) {
  .lp-section-flex-container {
    display: table;
    height: auto;
    width: 100%; }
    .lp-section-flex-container img {
      width: 100%;
      max-width: 100%; }
    .lp-section-flex-container .map-container {
      position: relative; }
      .lp-section-flex-container .map-container .map-frame {
        position: relative;
        margin: 0 auto; }
      .lp-section-flex-container .map-container .map {
        position: relative;
        margin: -380px auto 30px auto; }
    .lp-section-flex-container .reorder-1 {
      display: table-footer-group; }
    .lp-section-flex-container .reorder-2 {
      display: table-header-group; } }

@media screen and (max-width: 768px) and (-ms-high-contrast: active), (max-width: 768px) and (-ms-high-contrast: none) {
  .lp-section-flex-container .map-container {
    display: block;
    position: relative;
    padding: 0; }
    .lp-section-flex-container .map-container .map {
      margin: 0;
      padding: 0;
      width: 100%;
      margin-left: -40px; } }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a[href]:after {
    content: none !important; }

  nav, footer {
    display: none; }

  ul {
    page-break-inside: avoid; } }
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html,
body {
  width: 100%;
  height: 100%;
  position: relative; }

body {
  font-size: 1.15em;
  color: #000; }

@media (min-width: 768px) {
  body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important; } }

hr {
  max-width: 100%; }

.bg-primary {
  background-color: #606f82; }

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #50a8ac; }

::selection {
  text-shadow: none;
  color: #fff;
  background: #50a8ac; }

img::selection {
  color: #fff;
  background: #50a8ac; }

img::-moz-selection {
  color: #fff;
  background: #50a8ac; }

.no-padding {
  padding: 0; }

.margin-reset {
  margin: 0; }

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

@media (min-width: 461px) and (max-width: 767px) {
  .no-gutter > .col-sm-6 {
    width: 100%; }
    .no-gutter > .col-sm-6 a {
      width: 100%; }
    .no-gutter > .col-sm-6 img {
      width: 100%; } }
@media (min-width: 230px) and (max-width: 460px) {
  .no-gutter > .col-sm-6 {
    width: 100%; } }

body {
  webkit-tap-highlight-color: #222; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */ }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

/*# sourceMappingURL=style.css.map */
