
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Mukta', sans-serif;
}

body, html{
    height: 100%;
    line-height: 1.8;
}

body {
    margin: 0;
    background-color: #fcfcfc;
}

h1 {
    font-size: 48px;
    color:#105a5f;
    font-weight: 800;
    line-height:50px;
    text-transform: uppercase;
    letter-spacing:2px;
}
.grey-text{
    color:grey;
}
.project-text{
    width:50%;
}

/* Center website  */
.main {
    max-width: 1200px;
    margin: auto;
}
.nav-main {
    /*padding-top:20px;*/
    max-width: 1200px;
    margin: auto;

}
header {

}
.project-main {
    max-width: 900px;
    margin: auto;
    padding: 0 12px;
}
/* Center website END */

/* navbar */
.navbar {
    /*padding: 30px 0;*/
    /*margin-bottom: 10px;*/
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    /*padding-top: 30px;*/
    /*padding-bottom: 0px;*/
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}
/* position brand */
.topnav-centered a {
    float: left;
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}
.navbar a {
    text-decoration: none;
    color: grey;
}
.navbar a.navbar-brand {
    color:#105a5f;
    height: inherit;
    line-height: inherit;
    padding: 0 24px;
    font-size: 26px;
    /*text-transform: uppercase;*/
    font-weight: 800;
    letter-spacing: 2px;
    /*margin-top: 2px;*/
}
.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 20px;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a {
    font-weight: 600;
    font-size:18px;
    /*letter-spacing: 0px;*/
    transition: 0.3s;
    display: block;
    text-align: center;
    min-width: 80px;
    padding: 0 5px;
}
.navbar ul li a:hover {
    color: #f27052;
}
.navbar .navbar-toggler {
    display: none;

}
@media (max-width: 991px) {
    .project-text{
        width:100%;
    }
    .navbar ul {
        padding: 0 20px;
    }
    .navbar ul li a {
        min-width: 80px;
        padding: 0 5px;
    }
}
@media (max-width: 600px) {
    h1{
        font-size:36px;
        line-height: 36px;
    }
    .project-text{
        width:100%;
    }
    .navbar {
        padding: 0;
        /*background-color: rgba(255,255,255,0.2);*/
    }
    .navbar a{
        text-align: center;
    }
    .topnav-centered a {
        width: 100%;
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar ul {
        width:100%;
        padding: 0;
        background-color: #fcfcfc;
        /* height: auto; */
        height: 100vh;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
        max-height: 100vh;
    }
    .navbar ul li {
        position: relative;
        top: 25%;
        /*text-align: center;*/
        /*margin-top: 30px;*/

        width: 100%;
        /*border-bottom: 1px solid rgba(255,255,255,0.3);*/
    }
    .navbar ul li a {
        /*padding: 0;*/
        /*padding-left:50px;*/
        font-size: 36px;
        font-weight: 800;
    }
    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 40px;
        top: 20px;
        right: 20px;
        background-color: transparent;
        /*     color: grey; */
        /*     border: 3px solid #fff; */
        border: none;
        /* border-radius: 4px; */
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: #105a5f;
        height: 3px;
        width: 24px;
        /*border-radius: 4px;*/
        transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
        transform: translateY(5px);
    }

    .navbar .navbar-toggler.open-navbar-toggler span {
        /* transform: rotate(90deg); */
        background-color: transparent;
        /* transform: scale(0.85) rotate(270deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
        /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
        /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }
}
/* navbar END */

/* Homepage image grid */
.rows {
    margin: 4px 0;

    /*display: -ms-flexbox; !* IE10 *!*/
    /*display: flex;*/
    /*-ms-flex-wrap: wrap; !* IE10 *!*/
    /*flex-wrap: wrap;*/
    /*padding: 0 4px;*/
}

/* Add padding BETWEEN each column */
.rows,
.rows > .columns {
    padding: 12px 12px;
}

/* Create two equal columns that sits next to each other */
.columns {
    float: left;
    width: 50%;

    /*-ms-flex: 100%; !* IE10 *!*/
    /*flex: 100%;*/
    /*max-width: 100%;*/
}

/* Clear floats after rows */
.rows:after {
    content: "";
    display: table;
    clear: both;
}
.image-small{
    float: left;
    width: 50%;
padding-bottom: 12px;
    /*margin:12px 0;*/
}
.image-big{
    padding-bottom: 12px;

    /*margin:12px 0;*/
}
.image-left {
    padding-right: 12px;
}
.image-right {
    padding-left: 12px;
}
/* Add padding BETWEEN each column */


/*.contents {*/
    /*padding:0 0;*/
/*}*/

/* Responsive layout -  two column-layout */
@media screen and (max-width: 800px) {
    .columns {
        width: 50%;

        /*-ms-flex: 50%;*/
        /*flex: 50%;*/
        /*max-width: 50%;*/
    }
}
/* Responsive layout - one column */
@media screen and (max-width: 600px) {
    .image-small {
        width: 100%;
    }
    .image-left {
        padding-right: 0;
    }
    .image-right {
        padding-left: 0;
    }
    .columns {
        width: 100%;

        /*-ms-flex: 100%;*/
        /*flex: 100%;*/
        /*max-width: 100%;*/
    }
}
/* Homepage image grid END*/

/* image hover effect */
.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    /*text-align:center;*/
    cursor: pointer;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    /*background-color:rgba(16, 90, 95, 0.5);*/
    background-color:rgba(255, 255, 255, 0.8);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition: all 2s linear;
    transition:all 2s linear;
}

.hovereffect h2 {
    /*text-transform:uppercase;*/
    color:#f27052;
    text-align:center;
    position:relative;
    font-size:36px;
    font-weight: 800;
    /*background:rgba(0,0,0,0.6);*/
    /*-webkit-transform:translatey(-100px);*/
    /*-ms-transform:translatey(-100px);*/
    /*transform:translatey(-100px);*/
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;

    /* make the text center */
    margin: 0;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hovereffect:hover img {
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}
/* image hover effect END */

/* scroll to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 24px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    /*color: grey; !* Text color *!*/
    cursor: pointer; /* Add a mouse pointer on hover */
    /*padding: 15px; !* Some padding *!*/
    /*border-radius: 10px; !* Rounded corners *!*/
    /*font-size: 18px; !* Increase font size *!*/
}

#myBtn:hover {
    /*background-color: #555; !* Add a dark-grey background on hover *!*/

    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
/* scroll to top button END */

/* footer and copyright */
.containerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 16px;
}

#bottom {
    letter-spacing: .04em;
    /*font-size: small;*/
    font-size:16px;
    margin-top: 45px;
    margin-bottom: 24px;
    color:lightgrey;
}
/* footer and copyright END */



/* parallax effect */

.parallax-container{
    /* Define the height of the container
    where the image will be */
    height:85%;
    margin: 0;
}
header {
    width:100%;
    background-color: grey;
    height:100%;
    margin: 0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 100%;*/
}
.header-image1 {
    background-image: url('2qiro-head.jpg');
}


@media (max-width: 600px) {
    header {

        height:45%;
        background-attachment: scroll;
        /*background-size: contain;*/
    }
    .navbar {

    }
}

.parallax-image{
    /*position: absolute;*/
    
    /* The image used */
    /*background-image: url('3qiro-1.jpg');*/

    /* Full height */
    /*height: 100%;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    /*margin-left: 16px;*/
    /*margin-right: 16px;*/

    /*-webkit-transform: translateZ(-1px) scale(2);*/
    /*!*-moz-transform: translateZ(-1px) scale(2);*!*/
    /*transform: translateZ(-1px) scale(2);*/
    /*z-index: -99;*/
}

.bg1{
    background-image: url('2shift-1.jpg');
}

.bg2{
    background-image: url('3qiro-1.jpg');
}

.bg4{
    background-image: url('4shift-1.jpg');
}

.parallax-i p{
    text-align:center;
    position:relative;
    color: white;
    font-size: 10em;

    /* make the text center */
    margin: 0;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
/* parallax effect END */

/* playground default-display grid */
.row, .row-list{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    /*padding: 0 4px;*/

}
.row{
    justify-content: center;
    /*display: flex;*/
    /*align-items: center;*/
    /*align-content: center;*/
}
.row-list{
    justify-content: space-between;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 23%; /* IE10 */
    flex: 23%;
    max-width: 23%;
    padding: 0 10px;
}
.column-text{
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    max-width: 30%;
    padding: 0 32px;
}
.column-pic{
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0;
}

.column img {
    margin-top: 24px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 49%;
        flex: 49%;
        max-width: 49%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, .column-list {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
/* playground default-display grid END */


/* playground switch between grid and line view mode */

/* control entire grid */
.containerTab {
    padding: 0;
    /*color: white;*/
}

.gl-button{
    margin:16px;
    border:none;
    /*background-color:transparent;*/
}

.p-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    line-height: 1;
}
.p-sub {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    padding-top: 1.6rem;
    padding-bottom: 4rem;
    font-size: 1.2rem;
    line-height: 1.428;
}
.p-subtitle {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    /*letter-spacing: 0.2rem;*/
    font-size: 1.2rem;
    line-height: 1;
    padding-top: 4rem;
    padding-bottom: 1.6rem;
}
.p-text{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .project-picture-container {
        padding-bottom: 5rem;
        align-content: center;
        align-self: center;
    }
}
@media (min-width: 768px) {
    .project-picture-container {
        padding-bottom: 6rem;
        align-content: center;
        align-self: center;
    }
}
/* playground switch between grid and line view mode END */

/*.project-picture-spacing {*/
    /*padding-bottom: 15px;;*/
/*}*/

/*video {*/
    /*max-width: 100%;*/
    /*height: auto;*/
/*}*/
/*.videos{*/
    /*margin:0 12px;*/
/*}*/


/*!*.cover-55, .cover-55 .cover-image, .cover-55 .video-fadein {*!*/
    /*!*background-color: #ffffff !important;*!*/
/*!*}*!*/
/*.fullscreen-cover {*/
    /*width: 100%;*/
    /*height: 70%;*/
    /*background-color: #fff;*/
    /*overflow: hidden;*/
    /*opacity: 0;*/
    /*position: relative;*/
/*}*/

/*.element.style {*/
    /*background-position: 50% 0px;*/
/*}*/
/*.cover-55 .cover-image {*/
    /*background-position: top center;*/
/*}*/
/*.cover-55 .cover-image {*/
    /*background-size: cover;*/
/*}*/
/*!*.cover-55 .cover-image {*!*/
    /*!*background-repeat: !important;*!*/
/*!*}*!*/
/*.cover-55 .cover-image {*/
    /*opacity: 1;*/
/*}*/
/*.cover-55 .cover-image {*/
    /*background-image: url(2shift-1.jpg);*/
/*}*/
/*!*.cover-55, .cover-55 .cover-image, .cover-55 .video-fadein {*!*/
    /*!*background-color: #ffffff !important;*!*/
/*!*}*!*/
/*.fullscreen-cover .cover-image, .fullscreen-cover .cover-video-responsive {*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*bottom: 0;*/
    /*line-height: 0;*/
    /*overflow: hidden;*/
    /*height: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*transform: scale(1);*/
/*}*/

/*#wrapper {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*z-index: 1;*/
/*}*/