

body,h1,h2,h3,h4,h5,h6 {font-family: 'Montserrat', sans-serif;}

body{
    padding-left:96px;
    padding-right:96px;
}

/* navbar : when hover, no bg color */
ul.nav a:hover {
    background-color:transparent;
    color: black;
    !important; }


/* make navbar more space */
.navbar {
    padding-top: 20px;
    z-index: 9999; /* OMG! this keeps navbar always on top */
    /*padding-left: 20px;*/
    /*padding-right: 10px;*/
}
.navbar-toggle {
    /*padding-right: 0px;*/
    padding-top: 4px;
    position:fixed;
    right:11px;
    z-index: 9999;
}
.navbar-toggle:hover {
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

/* make title in two lines */
.navbar-brand {
    line-height:20px;
    /*padding-top:20px;*/
    position: relative;
    /*padding-bottom:5px;*/

}

.navbar-brand small {
    display:block;
    font-size:15px;
    padding-top:5px;
}

/* fix the navbar on the right */
.navbar-right{
    /*position:fixed;*/
    /*right:36px;*/
}


/* image hover effect */

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    /*text-align:center;*/
    cursor: pointer;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.2);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition: all 2s linear;
    transition:all 2s linear;
}

.hovereffect h2 {
    /*text-transform:uppercase;*/
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    /*background:rgba(0,0,0,0.6);*/
    /*-webkit-transform:translatey(-100px);*/
    /*-ms-transform:translatey(-100px);*/
    /*transform:translatey(-100px);*/
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;

    /* make the text center */
    margin: 0;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hovereffect:hover img {
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}


/* scroll to top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    /*color: grey; !* Text color *!*/
    cursor: pointer; /* Add a mouse pointer on hover */
    /*padding: 15px; !* Some padding *!*/
    /*border-radius: 10px; !* Rounded corners *!*/
    /*font-size: 18px; !* Increase font size *!*/
}

#myBtn:hover {
    /*background-color: #555; !* Add a dark-grey background on hover *!*/
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

/* footer and copyright */
.containerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 16px;
}

#bottom {
    letter-spacing: .04em;
    font-size: small;
    margin-top: 45px;
    margin-bottom: 24px;
}

/* parallax effect */
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('wedding.jpg');

    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-left: 16px;*/
    /*margin-right: 16px;*/

}

.parallax p{
    text-align:center;
    position:relative;

    /* make the text center */
    margin: 0;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}




/* playground default-display grid */
.row, .row-list{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    /*padding: 0 4px;*/

}
.row{
    justify-content: center;
    /*display: flex;*/
    /*align-items: center;*/
    /*align-content: center;*/
}
.row-list{
    justify-content: space-between;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 23%; /* IE10 */
    flex: 23%;
    max-width: 23%;
    padding: 0 10px;
}
.column-text{
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    max-width: 30%;
    padding: 0 32px;
}
.column-pic{
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0;
}


.column img {
    margin-top: 24px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 49%;
        flex: 49%;
        max-width: 49%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, .column-list {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/* playground switch between grid and line view mode */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

/* control entire grid */
.containerTab {
    padding: 0;
    /*color: white;*/
}

.gl-button{
    margin:16px;
    border:none;

}
